.dark-light-toggle {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
  margin-left: auto;
  /* margin-right: 10%; */
}

.theme-type-label {
  cursor: pointer;
  margin: 10px;
}

.theme-type-label i {
  margin: 10px;
}

.theme-type-label i.fa-moon.fa-regular {
  transform: rotateY(180deg);
  transition: transform 1s linear;
}

.theme-type-label i.fa-moon.fa-solid {
  transform: rotateY(0deg);
  transition: transform 1s linear;
}

.theme-type-label span {
  text-transform: capitalize;
  text-align: left;
}

.theme-type-check {
  opacity: 0;
}

@media (min-width: 701px) {
  div.dark-light-toggle {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
