@media (min-width: 701px) {

    .inputs-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .inputs-search {
        margin-right: auto;
    }

    .inputs-filter {
        margin-left: auto;
    }

}

@media (max-width: 700px) {
    .inputs-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .inputs-search {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .inputs-filter {
        margin-top: 24px;
        margin-bottom: 16px;
    }

}