.inputs-container {
    display: flex;
}

@media (min-width: 900px) {

    .inputs-container {
        width: 90%;
        align-items: flex-start;
        justify-content: space-between;
        margin-block: 50px;
    }

    .inputs-filter {
        margin-left: auto;
    }

}

@media (max-width: 899px) {
    .inputs-container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .inputs-search {
        margin-top: 24px;
        margin-bottom: 16px;
    }

    .inputs-filter {
        margin-top: 24px;
        margin-bottom: 16px;
    }

}