.inputs-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.inputs-search {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.inputs-filter {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

@media (min-width: 1000px) {

    .inputs-container {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-block: 1rem;
        /* padding-inline: 1rem; */
    }

    .inputs-filter {
        margin-left: auto;
    }

}

/* @media (max-width: 999px) {
    .inputs-container {
        align-items: center; 
        justify-content: center;
        flex-direction: column;
    }

    .inputs-search {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .inputs-filter {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

} */