.country-list {
    display: grid;
    grid-gap: 5rem;
}

@media (min-width: 1350px) {

    .country-list {
        grid-template-columns: repeat(4, 16.5rem);
    }
}

@media (min-width: 1000px) and (max-width: 1349px) {

    .country-list {
        grid-template-columns: repeat(3, 16.5rem);
    }
}

@media (min-width: 650px) and (max-width: 999px) {

    .country-list {
        grid-template-columns: repeat(2, 16.5rem);
    }
}

@media (max-width: 649px) {
    .country-list {
        grid-template-columns: 16.5rem;
    }
}