.dark {
    --background: var(--dm-bg-very-dark-blue);
    --color: var(--dm-text-lm-elements-white);
}

.light {
    --background: var(--lm-bg-very-light-gray);
    --color: var(--lm-text-very-dark-blue);
}

main {
    background: var(--background);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5rem;
}

.main-width-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 701px) {

    .main-width-wrapper {
        max-width: 1440px;
        /* width: 100vw; */
    }

}

@media (max-width: 700px) {

    .main-width-wrapper {
        min-width: 375px;
    }

}