.light .back-button {
    background: var(--dm-text-lm-elements-white);
    color: var(--lm-text-very-dark-blue);
}

.dark .back-button {
    background: var(--dm-elements-dark-blue);
    color: var(--dm-text-lm-elements-white);
}

.back-button {
    margin-top: 1.5rem;
    margin-right: auto;
    margin-bottom: 1.5rem;
    border: unset;
    font-style: normal;
    font-weight: 300;
}

@media (min-width: 701px) {
    .back-button {
        font-size: 1rem;
        line-height: 1.25rem;
        width: 8.5rem;
        height: 2.5rem;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.05);
        border-radius: 6px;
    }
}

@media (max-width: 700px) {

    .back-button {
        width: 6.5rem;
        height: 2rem;
        font-size: .875rem;
        line-height: 1.25rem;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
        border-radius: 2px;
    }

}