div.app.dark header {
  background: var(--dm-elements-dark-blue);
  color: var(--dm-text-lm-elements-white);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

header h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin-right: auto;
  margin-left: 10%;
  line-height: 2rem;
}

div.dark-light-toggle {
  font-size: 1rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: 10%;
  line-height: 1.375rem;
}

div.dark-light-toggle span {
  cursor: pointer;
  margin: 10px;
}

div.dark-light-toggle span i {
  margin: 10px;
}

div.dark-light-toggle span:hover {
  text-shadow: 2px 2px 10px var(--lm-text-very-dark-blue);
}

div.dark-light-toggle span.dark-mode {
  order: 3;
}

div.dark-light-toggle span.light-mode {
  order: 2;
}

div.dark-light-toggle span.system-mode {
  order: 1;
}

.show {
    display: block;
}

.hide {
    display: none;
}