/* Dark/Light Mode Styles */
.dark .country-name-search,
.dark .search__control,
/* .dark .search__control.search__control--is-focused.css-1pahdxg-control,
.dark .search__control.search__control--is-focused.search__control--menu-is-open.css-1pahdxg-control, */
.dark .search__option,
/* .search__option--is-focused.css-1n7v3ny-option, */
.dark .search__menu

/* .css-26l3qy-menu */
,
.dark .search__single-value,
.dark .search__placeholder {
  background: var(--dm-elements-dark-blue);
  color: var(--dm-text-lm-elements-white);
}

.dark .search__input-container,
.dark .search__input {
  /* background: var(--dm-elements-dark-blue); */
  color: var(--dm-text-lm-elements-white);
}

.dark .search__option.search__option--is-focused.css-1n7v3ny-option {
  background: var(--dm-bg-very-dark-blue);
}

.dark .search__placeholder.css-14el2xx-placeholder,
.dark .country-name-search::placeholder,
.dark .search__control i {
  color: var(--dm-text-lm-elements-white);
}

.light .country-name-search {
  background: var(--dm-text-lm-elements-white);
  color: var(--lm-text-very-dark-blue);
}

.light .search__option.search__option--is-focused.css-1n7v3ny-option {
  background: var(--lm-bg-very-light-gray);
}

.light .search__placeholder.css-14el2xx-placeholder,
.light .country-name-search::placeholder,
.light .search__control i {
  color: var(--lm-input-dark-gray);
}

/* Initial Styles */
.search__control.css-1s2u09g-control {
  border: unset;
}

.search__control.search__control--is-focused.search__control--menu-is-open {
  border: unset;
  box-shadow: unset;
}

.search__single-value
/* .css-qc6sy-singleValue */
,
.search__placeholder
/* .css-14el2xx-placeholder */
,
.search__input-container

/* .css-6j8wv5-Input */
,
input.search__input {
  text-align: left;
  /* font-size: .875rem; */
  line-height: 1.25rem;
  /* color: inherit; */
}

.search__control.search__control--is-focused {
  box-shadow: unset;
  border: unset;
}

/* Dropdown Menu */
.search__menu {
  box-shadow: unset;
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.search__menu-list {
  text-align: left;
}

.search__option.search__option--is-focused.css-1n7v3ny-option {
  padding: 4px 12px;
}

.search__option.css-yt9ioa-option {
  padding: 4px 12px;
}

.country-name-search {
  font-weight: 400;
  line-height: 1.25rem;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.search__control {
  /* display: flex; */
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.0532439);
  border-radius: 5px;
}

.search__control i {
  margin: 16px;
}

.search__control.css-1s2u09g-control {
  box-shadow: unset;
  border: unset;
}

.search__value-container {
  text-align: left;
  font-size: .75rem;
}

/* View Depedent */
@media (min-width: 1000px) {
  .country-name-search {
    width: 30rem;
    height: 3.5rem;
    font-size: .875rem;
  }

  .search__control {
    height: 3.5rem;
  }

  .search__single-value,
  .search__placeholder,
  .search__input-container,
  input.search__input {
    font-size: .875rem;
  }

}

@media (max-width: 999px) {

  search__control search__control--is-focused search__control--menu-is-open css-1pahdxg-control .country-name-search {
    width: 21rem;
    height: 3rem;
    font-size: .75rem;
  }

  .search__control {
    height: 3rem;
  }
}