.app.light {
  --color: var(--lm-text-very-dark-blue);
  --background: var(--lm-bg-very-light-gray);
}

.app.dark {
  --color: var(--dm-text-lm-elements-white);
  --background: var(--dm-bg-very-dark-blue);
}

.app {
  text-align: center;
  color: var(--color);
  background: var(--background);
  width: 100%;
  height: 100%;
}