/* bring in normalize.css styles */
@import-normalize;

/* import Nunito Sans from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  box-sizing: border-box;
  transition: background .5s ease-in, color .5s ease-out;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: "Nurito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

:root {
  --dm-elements-dark-blue: hsl(209, 23%, 22%);
  --dm-bg-very-dark-blue: hsl(209, 26%, 17%);
  --lm-text-very-dark-blue: hsl(200, 15%, 8%);
  --lm-input-dark-gray: hsl(0, 0%, 52%);
  --lm-bg-very-light-gray: hsl(0, 0%, 98%);
  --dm-text-lm-elements-white: hsl(0, 0%, 100%);
}